@{
    ViewBag.Title = "Contact";
}

<span style="padding:30px;">&nbsp;</span>
<address>
    To find out more about Brian<br />
    and the courses offered at MajorGuidanceSolutions<br />
    <a href="http://www.majorguidancesolutions.com/courses">Click Here!</a>
</address>

