@{
    ViewBag.Title = "Contact Manager using DataTables Project";
}

<div class="jumbotron">
    <h1>Awesome Courses</h1>
    <p class="lead">This is a Contact Manager using jQuery DataTables and EF</p>
    <p><a href="https://datatables.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

