<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppId" value="511239245734170" xdt:Transform="Remove" />
    <add key="AppSecret" value="a4c1c67c31912706fcbb53af89898104" xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="AppId" value="511221885735906" />
    <add xdt:Transform="Insert" key="AppSecret" value="b7909b7b01932d85f874feebf2367c7b" />
  </appSettings>
  <connectionStrings>
    <add name="ContactWebContext" xdt:Transform="Remove" />
    <add name="ContactWebContext"
         connectionString="Server=YOUR_SERVER_HERE;Database=YOUR_DATABASE_HERE;User Id=YOUR_USER_ID_HERE;Password=YOUR_PASSWORD_HERE;"
         providerName="System.Data.SqlClient" 
         xdt:Transform="Insert" />
    
    <add name="DefaultConnection"  
         connectionString="Server=YOUR_SERVER_HERE;Database=YOUR_DATABASE_HERE;User Id=YOUR_USER_ID_HERE;Password=YOUR_PASSWORD_HERE;" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="Replace" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
